.dog-image {
  border-radius: 8px;
  position: relative;
  cursor: pointer;

  p {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-weight: bold;
    margin: 0;
    text-transform: capitalize;
  }
}
